* {
    margin: 0;
    padding: 0;
}

/*ページ読み込んだ時にアニメーションするやつ-------------------------------*/

.start {
	background:#ffffff;
	position: fixed;
    margin-right: auto;
    margin-left: auto;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}

/*水平線の設定---------------------------------------------------------*/

.hr_a{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    color: #efebe0;
}

.hr_b{
    color: #efebe0;
    border-top: dotted;
    border-bottom: none;
}

body{
    font-family: "Noto Sans JP";
}

img{
    width: 100%;
}

/*header------------------------------------------------------------------*/

.header{
    margin-top: 0px;
    height: 100px;
    background-color: #f7c3bf;
    color:#efebe0;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.title{
    margin-top: 25px;
    margin-left: 25px;
}

.header-nav{
    display: flex;
}

.header-nav li{
    margin-top: 30px;
    margin-right: 30px;
    list-style: none;
    font-size: 25px;
}

.header-nav a{
    color: #efebe0;
    text-decoration: none;
}
.header-nav a:hover{
    color: #8ac8cf;
}

/*about---------------------------------------------------------------------------------*/

.photo_slider{
    height: 400px;
    background-color: palevioletred;
}

.about_photos{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 75px;
}

.about_photos li{
    width: 30%;
    list-style: none;
    height :400px;
}
.about_photos_p{
    padding: 20px;
    font-size: 20px;
    color: #f7c3bf;
    text-align: left;
}

/*SNS-------------------------------------------------------------------------------------*/

.sns_photos{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 75px;
}

.sns_photos li{
    width: 30%;
    list-style: none;
    height :400px;
    text-align: center;
}

.sns_photos img{
    width: 60%;
}

.sns_photos_p{
    padding: 20px;
    font-size: 20px;
    color: #f7c3bf;
    text-align: left;
}

/*history---------------------------------------------------------------------------------*/

.history1{
    display: flex;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    height: 500px;
}

.backnumber{
    width: 45%;
}

.backnumber li{
    list-style: none;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.backnumber a{
    color: #8ac8cf ;
    text-decoration: none;
}

.backnumber a:hover{
    color: #efebe0;
}

.twitter{
    width: 45%;
}

/*fotter----------------------------------------------------------------------------------*/

.footer{
    margin-top: 30px;
    height: 80px;
    background-color: #f7c3bf;
    padding: 30px;
    text-align: center;
    color:#efebe0; 
    font-size: 20px;
}