*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kiwi Maru', serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

.notice{
    color: white;
    background-color: #8ac8cf;
    padding: 10px;
    text-align: center;
}
.notice-content{
    font-size: 30px;
}

.header{
    display: flex;
    color: #f7c3bf;
    height: 100px;
    font-weight: bold;
}
.title{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 40px;
}

.header-nav{
    display: flex;
    list-style: none;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 0%;
}

.header-nav li{
    font-size: 20px;
    margin-right: 50px;
    transition: all 0.1s ease 0s;
}
.header-nav li:hover{
    transform: scale(1.2);
    color: #8ac8cf;
}

.main-picture{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about{
    margin-top: 200px;
}
.about-title{
    text-align: center;
    font-size: 40px;
    color: #f7c3bf;
}
.about-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px;
}
.about-list li{
    margin: 20px;
    width: 30%;
    background-color: #efebe0;
    border-radius: 10px;
}
.about-picture{
    height: 300px;
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-desc{
    padding: 5px;
    font-size: 20px;
}

.footer{
    color: #f7c3bf;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}