/* ---------------animation config---------------- */
body{
    animation: fadeIn 2s ease  1 normal;
}
@keyframes fadeIn { /*animetion-nameで設定した値を書く*/

    0% {opacity: 0} /*アニメーション開始時は不透明度0%*/
  
    100% {opacity: 1} /*アニメーション終了時は不透明度100%*/
  
}

/* PC用をとりあえず書いて、スマホ用は下部で修正 */

/* ------------------content------------------ */
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kiwi Maru', serif;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

/* -------------------------notice------------------------- */

.notice{
    color: white;
    background-color: #8ac8cf;
    padding: 10px;
    text-align: center;
}
.notice-content{
    font-size: 30px;
}



/* ---------------------------header----------------------- */

.header{
    display: flex;
    color: #f7c3bf;
    height: 100px;
    font-weight: bold;
}
.title{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 40px;
}

.header-nav{
    display: flex;
    list-style: none;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 0%;
}

.header-nav li{
    font-size: 20px;
    margin-right: 50px;
    transition: all 0.1s ease 0s;
}
.header-nav li:hover{
    transform: scale(1.3);
    /* color: #8ac8cf; */
}

.sp-btn{
    display: none;
}

/* -----------------------------picture------------------------ */

.main-picture{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.main-picture-sp{
    display: none;
}


/* ------------------------------about------------------------------ */

.about{
    margin-top: 200px;
}
.about-title{
    text-align: center;
    font-size: 40px;
    color: #f7c3bf;
}
.about-list{
    padding: 100px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.about-list li{
    width: 30%;
    background-color: #efebe0;
    border-radius: 10px;
}
.about-picture{
    height: 300px;
    border-radius: 10px 10px 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.about-desc{
    padding: 10px;
    font-size: 20px;
}

/* ---------------------sns---------------------- */

/* ---------------------footer----------------------- */

.footer{
    color: #f7c3bf;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

/* スマホ用################################################################ */

@media screen and (max-width:800px) {
    /* title------------------------------------ */
    .title{
        font-size: 30px;
        padding: 25px;
        margin: 0;
    }
    .header-nav{
        display: none;
    }
    .sp-btn{
        display: block;
        font-size: 55px;
        margin-left: auto;
        margin-right: 20px;
    }
    /* picture------------------------------------- */
    .main-picture{
        display: none;
    }
    .main-picture-sp{
        display: inline;
    }
    /* about---------------------------------------- */
    .about{
        margin-top: 100px;
    }
    .about-title{
        text-align: center;
        font-size: 40px;
        color: #f7c3bf;
    }
    .about-list{
        display: inline;
        padding: 100px;
        list-style: none;
    }
    .about-list li{
        display: flex;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 40px;
        background-color: #efebe0;
        border-radius: 10px;
    }
    .about-picture{
        border-radius: 10px 0 0 10px;
        width: 50%;
        object-fit: cover;
        margin-bottom: 0;
    }
    .about-desc{
        padding: 10px;
        font-size: 16px;
    }
}